*, *::before, *::after {
    box-sizing: border-box;
  }
  

body {
    font-family: "Inter", sans-serif;
    margin: 0;

}


.navbar {
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 17.5px;
}

.navbar>p {
    margin-left: 5px;
}


.card__component {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.card{
    display: flex;    
    margin: 50px;
    
}

.card__body{
    margin-left: 15px;
}

.location {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 15.36px;
    margin: 5px 5px;

}

.location__link {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 12.39px;
    color: #918E9B;

}

.date__text{
font-size: 0.625rem;
font-weight: 700;
line-height: 12.39px;

}

.description {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 15.36px;
}

