body {
    font-family: "Inter", sans-serif;
    margin: 0;

}

.navbar {
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14.46px;
    font-weight: 500;
    line-height: 17.5px;
}

.navbar>p {
    margin-left: 5px;
}