body {
    font-family: "Inter", sans-serif;
    margin: 0;

}

.navbar {
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14.46px;
    font-weight: 500;
    line-height: 17.5px;
}

.navbar>p {
    margin-left: 5px;
}

.card {
    display: flex;
    margin: 50px;
   

}

.location {
    font-size: 10.24px;
    font-weight: 400;
    line-height: 15.36px;

}

.location__link {
    font-size: 10.24px;
    font-weight: 400;
    line-height: 12.39px;
    color: #918E9B;

}

.description {
    font-size: 10.24px;
    font-weight: 400;
    line-height: 15.36px;
}